/*
██████   █████  ███████ ███████      ██████ ███████ ███████
██   ██ ██   ██ ██      ██          ██      ██      ██
██████  ███████ ███████ █████       ██      ███████ ███████
██   ██ ██   ██      ██ ██          ██           ██      ██
██████  ██   ██ ███████ ███████      ██████ ███████ ███████
*/
/* basics */
body {
    font-family: "メイリオ", sans-serif;
    background-color: #d1d8da;
    color: #555;
}
input, textarea {
    display: inline-block;
    border: none;
    border-bottom: solid 1px #ccc;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    width: 100%;
    color: #18a
}

/* base margin */
.formsection div {
    margin: 30px 50px 30px 20px;
    /*width: 90%;*/
}

/* section basics */
.formsection {
    background-color: #fff;
    width: 60%;
    /*min-width: 700px;*/
    max-width: 800px;
    margin: 30px auto;
    padding: 10px 40px;
    border-radius: 10px;
}
/* h basics */
.formsection h1 {
    font-size: 25px;
    padding-left: 10px;
    border-bottom: solid 3px #eee;
}
.formsection h2 {
    font-size: 20px;
    margin-bottom: 10px;
}


/* ------------------
input active highlight color
---------------------*/
/*input[type="radio"]:focus + label,*/
/*input[type="checkbox"]:focus + label,*/
/*input:focus,*/
.formsection input[type="text"]:focus,
.formsection input[type="submit"]:focus,
/* ↑ type指定をしないと、オリジナルのradioとcheckboxに影がついてしまう*/
.formsection select:focus,
.formsection input:focus + label,
.formsection textarea:focus,
.formsection button:focus
{
    outline: none;
    background-color: #f1f8fa;
    box-shadow: 0 0 2px 2px #e1e8ea;
    border-radius: 7px;
}
/*input[type="radio"]:checked + label,
input[type="checkbox"]:checked + label*/
.formsection input:checked + label
{
    background-color: #f1f8fa;
    box-shadow: -1px -1px 2px 2px #e1e8ea;

}

/*--------------------
req
----------------------*/
.formsection .req {
    display: inline-block;
    background-color: #f55;
    color: #fff;
    font-size: 13px;
    font-weight: normal;
    vertical-align: middle;
    text-align: center;
    border-radius: 5px;
    width: 35px;
    margin-left: 10px;

}


/*
███    ██  █████  ███    ███ ███████
████   ██ ██   ██ ████  ████ ██
██ ██  ██ ███████ ██ ████ ██ █████
██  ██ ██ ██   ██ ██  ██  ██ ██
██   ████ ██   ██ ██      ██ ███████
*/
.name input {
    width: 30%;
}
.name input[name="first_name"] {
    margin-right: 5%;
}

/*
 ██████  ███████ ███    ██ ██████  ███████ ██████
██       ██      ████   ██ ██   ██ ██      ██   ██
██   ███ █████   ██ ██  ██ ██   ██ █████   ██████
██    ██ ██      ██  ██ ██ ██   ██ ██      ██   ██
 ██████  ███████ ██   ████ ██████  ███████ ██   ██
*/
.formsection .gender label {
    margin-left: 1%;
    border-radius: 10px;
    background-color: #f8f8f8;
    border: solid 1px #f8f8f8;
    padding: 10px 20px;
}
.formsection .gender label:hover {
    background-color: #f1f8fa;
    border: solid 1px #e1e8ea;
}
.formsection .gender input {
    /*margin: 0 3% 0 0;*/
    /*width: 10%;*/
}
.formsection .gender label span:first-child{
    margin-right: 1%;
}
.formsection .gender label span + span {
    vertical-align: middle;
}


/*custom radio buttom*/
input[type="radio"] {
    /*display: none;*/
    /*visibility: hidden; */
    /* none、hiddenにすると、Tabキーで遷移フォーカスできなくなる */
    width: 0;
    margin: 0;
}
.radiobtn:before {
    vertical-align: middle;
    display: inline-block;
    content: "";
    width: 10px;
    height: 10px;
    border: 2px solid #aaa;
    border-radius: 10px;
}
input[type="radio"]:checked + label .radiobtn::before {
    background-color: #18a;
    border-color: #18a;
}
input[type="radio"]:checked + label span {
    color: #18a;
}

/*
 █████  ██████  ██████  ██████  ███████ ███████ ███████
██   ██ ██   ██ ██   ██ ██   ██ ██      ██      ██
███████ ██   ██ ██   ██ ██████  █████   ███████ ███████
██   ██ ██   ██ ██   ██ ██   ██ ██           ██      ██
██   ██ ██████  ██████  ██   ██ ███████ ███████ ███████
*/

.formsection .address input {
    margin: 0 5% 0 2%;
}


/*
 ██████  ██████  ███    ██ ████████  █████   ██████ ████████
██      ██    ██ ████   ██    ██    ██   ██ ██         ██
██      ██    ██ ██ ██  ██    ██    ███████ ██         ██
██      ██    ██ ██  ██ ██    ██    ██   ██ ██         ██
 ██████  ██████  ██   ████    ██    ██   ██  ██████    ██
*/

.formsection .contact div {
    margin: 0 0 20px 0;
}
.formsection .contact .phone input {
    width: 15%;
}

.formsection .contact .mail input[name="mail"] {
    width: 30%;
}
.formsection .contact .mail input[name="domain"] {
    width: 20%;
}

/*
███████ ███    ██  ██████  ██    ██ ███████ ████████ ███████
██      ████   ██ ██    ██ ██    ██ ██         ██    ██
█████   ██ ██  ██ ██    ██ ██    ██ █████      ██    █████
██      ██  ██ ██ ██ ▄▄ ██ ██    ██ ██         ██    ██
███████ ██   ████  ██████   ██████  ███████    ██    ███████
                      ▀▀
*/
div.enquete {
    margin-top: 50px;
    padding-top: 30px;
    border-top: dashed 1px #3fafcf;
}

.formsection .enquete label {
    background-color: #f8f8f8;
    border: solid 1px #f8f8f8;
    border-radius: 10px;
    display: inline-block;
    padding: 10px;
    margin-left: 10px;
    margin-top: 20px;
    width: 20%;
}
.formsection .enquete label:hover {
    background-color: #f1f8fa;
    border: solid 1px #e1e8ea;
}
.formsection .enquete .checkbox ~ span {
    display: inherit;
    text-align: center;
    width: 70%;
}

.question .category {
    margin-left: 10px;
    padding: 5px 50px;
    border-radius: 5px;
    border: solid 1px #ccc;
}

/*custom checkbox*/
input[type="checkbox"] {
    /*display: none;*/
    width: 0;
    margin: 0;
}
.checkbox {
    position: relative;
}
.checkbox::before {
    vertical-align: middle;
    display: inline-block;
    content: "";
    width: 15px;
    height: 15px;
    border: 2px solid #aaa;
    border-radius: 5px;
}
.checkbox i {
    display: none;
}
input[type="checkbox"]:checked + label .checkbox i {
    display: inline-block;
    position: absolute;
    top: 4px;
    left: 1px;
    color: #18a;
}
input[type="checkbox"]:checked + label  span {
    color: #18a;
}



/*
████████ ███████ ██   ██ ████████  █████  ██████  ███████  █████
   ██    ██       ██ ██     ██    ██   ██ ██   ██ ██      ██   ██
   ██    █████     ███      ██    ███████ ██████  █████   ███████
   ██    ██       ██ ██     ██    ██   ██ ██   ██ ██      ██   ██
   ██    ███████ ██   ██    ██    ██   ██ ██   ██ ███████ ██   ██
*/

.formsection .text {
    margin-left: 10px;
    border-radius: 5px;
    border: solid 1px #ccc;
    text-align: left;
}

/*
███████ ██    ██ ██████  ███    ███ ██ ████████
██      ██    ██ ██   ██ ████  ████ ██    ██
███████ ██    ██ ██████  ██ ████ ██ ██    ██
     ██ ██    ██ ██   ██ ██  ██  ██ ██    ██
███████  ██████  ██████  ██      ██ ██    ██
*/

.formsection .submitbtn {
    margin: 10px auto;
    height: 40px;
}
.formsection .submitbtn * {
    color: #fff;
    font-size: 15px;
    border: 0;
    border-radius: 7px;
    margin-left: 5%;
}

.formsection .submitbtn input[type="submit"] {
    background-color: #18a;
    width: 20%;
    height: 100%;
}
.formsection .submitbtn button[type="reset"] {
    /*display: table-cell;*/
    background-color: #aaa;
    min-width: 70px;
    width: 15%;
    height: 85%;
    vertical-align: bottom;


}
.formsection .submitbtn button:hover,
.formsection .submitbtn input:hover
{
    box-shadow: 0 0 2px 2px #c1c8ca;
}
